@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

@font-face {
    font-family: "Adlery Pro";
    src: url("//db.onlinewebfonts.com/t/e552a73b2627d8afebb6bc486014dd9b.woff2") format("woff2");
}

/* -- header -- */

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10;
    background-color: #545454;


}

a {
    color: aliceblue;
    text-decoration: none;
    padding-top: 60px;
}


#container_img {

    margin: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding-bottom: .6rem;
}

.quant_container {
    display: flex;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    width: 5rem;

    padding: .5rem 1rem .5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.quantImg {
    width: 15px;
    height: 15px;
}

.maisCar {
    filter: invert(24%) sepia(63%) saturate(5204%) hue-rotate(113deg) brightness(90%) contrast(106%);
    cursor: pointer;
}

.menosCar {
    filter: invert(16%) sepia(100%) saturate(5740%) hue-rotate(357deg) brightness(111%) contrast(124%);
    cursor: pointer;
}

#carrinho,
#user {
    cursor: pointer;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/* xx /header xx */

/* -- Carrinho -- */

#carrinho_container {

    width: 30vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 998;
    background-color: white;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 5rem 1rem;

    border: 1px solid #BFBFBF;
    box-shadow: 10px 5px 5px black;
}

.carrinho-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

}

#carrinho_container span {
    color: grey;
}

#carrinho_container hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#carrinho_container button {
    background-color: green;
    border: none;
    border-radius: 1px;
    color: white;
    padding: .5rem 2rem .5rem 2rem;
    font-size: 1.2rem;

    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(167, 167, 167, 0.603);
    margin-bottom: 10rem;
}

/* xx /carrinho xx */

/* ---- usuario ------ */
#user_container {
    width: 30vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 998;
    background-color: white;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding: 0;

    border: 1px solid #2c2c2c;
}

#header_user {
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    flex-direction: column;

    background-image: url("fundo_user.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem 2rem 2.5rem 3rem;
}

#header_user h2,
#header_user a {
    margin: 1rem;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem 5rem 1rem;

}

.row {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 2rem;
}

.row a {
    color: black;
    padding: 0;
}

.imgs_user {
    width: 30px;
    height: 30px;
    margin-right: 2rem;
    filter: invert(32%) sepia(0%) saturate(2%) hue-rotate(39deg) brightness(97%) contrast(88%);
}

/* xx /user xx */
#container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .8rem;

    padding: .8rem 3rem 4rem 3rem;

    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    width: 80%;

    background-color: black;
}

#text_endereco {
    color: aliceblue;
    align-items: flex-start;
    width: 850px;
    font-family: "Adlery Pro";
    font-size: 4rem;
}

#underline {
    margin-top: 0;
    display: block;

    background-color: white;
    height: .1rem;
    width: 80%;

}

#enderecos {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;

    margin: 2rem auto 1rem auto;
    justify-content: center;
    align-items: center;

    padding: 1rem 0 2rem 0;
}

#btn_cadastrarEnd {
    border: 1px solid orange;
    width: 250px;

    color: #ffa500;

    display: flex;
    justify-content: space-around;
    padding: .8rem;

    cursor: pointer;
}

.mais {
    width: 15px;
    height: 15px;

    filter: invert(72%) sepia(35%) saturate(5382%) hue-rotate(2deg) brightness(104%) contrast(107%);
}

#enderecos hr {
    border: none;

    background-color: #d1d0d0;

    height: .5px;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#infos_enderecos {
    width: 90%;
    /* visibility: hidden;
    display: none; */
}

.novoEnd {


    padding: 1rem;

    border: 1px solid rgb(184, 184, 184);
}

#infos_enderecos .row {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

#infos_enderecos .column {
    margin: 0;
    padding: 0;
}

#infos_enderecos img {
    width: 30px;
    height: 30px;

    cursor: pointer;
}