@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

@font-face {
    font-family: "Adlery Pro";
    src: url("//db.onlinewebfonts.com/t/e552a73b2627d8afebb6bc486014dd9b.woff2") format("woff2");
}

/* -- header -- */

header a:hover {
    color: orange;
}

header button:hover{
    background-color: white !important;
    transition: 0.4s;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10;
    background-color: #545454;


}

a {
    color: aliceblue;
    text-decoration: none;
    padding-top: 60px;
}


#container_img {

    margin: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding-bottom: .6rem;
}


#carrinho,
#user {
    cursor: pointer;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/* xx /header xx */

/* -- Carrinho -- */

#carrinho_container {

    width: 30vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 998;
    background-color: white;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 5rem 1rem;

    border: 1px solid #BFBFBF;
    box-shadow: 10px 5px 5px black;
}

.carrinho-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

}

#carrinho_container span {
    color: grey;
}

#carrinho_container hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#carrinho_container button {
    background-color: green;
    border: none;
    border-radius: 1px;
    color: white;
    padding: .5rem 2rem .5rem 2rem;
    font-size: 1.2rem;

    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(167, 167, 167, 0.603);
    margin-bottom: 10rem;
}

/* xx /carrinho xx */

/* ---- usuario ------ */
#user_container {
    width: 30vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: 998;
    background-color: white;
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding: 0;

    border: 1px solid #2c2c2c;
}

#header_user {
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    flex-direction: column;

    background-image: url("fundo_user.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem 2rem 2.5rem 3rem;
}

#header_user h2,
#header_user a {
    margin: 1rem;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem 5rem 1rem;

}

.row {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 2rem;
}

.row a {
    color: black;
    padding: 0;
}

.imgs_user {
    width: 30px;
    height: 30px;
    margin-right: 2rem;
    filter: invert(32%) sepia(0%) saturate(2%) hue-rotate(39deg) brightness(97%) contrast(88%);
}

/* xx /user xx */

#container {

    background-color: black;
    margin: 1rem auto 0ch auto;


    padding: .5rem 1rem 3rem 1rem;


    width: 85%;
    height: auto;
}

#text_pedido {
    color: aliceblue;
    align-items: flex-start;
    width: 850px;
    font-family: "Adlery Pro";
    font-size: 3.2rem;
}

#underline {
    margin-top: 0;
    display: block;

    background-color: white;
    height: .1rem;
    width: 80%;
}

#pedido {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    background-color: white;

    width: 90%;
}

.tipo {
    color: #ffa500;
    margin: 0;
    padding: 1rem;
    cursor: pointer;
}

.seta {
    width: 15px;
    height: 15px;
    margin-right: 1rem;

    filter: invert(79%) sepia(61%) saturate(4392%) hue-rotate(360deg) brightness(101%) contrast(107%);
}

hr {
    border-color: rgba(232, 232, 232, 0.705);
    margin: 0;
}


.rad-label {
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding: 14px 16px;
    margin: 0;
    margin-left: 1rem;

    cursor: pointer;
    transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: rgba(207, 207, 207, 0.226);
}

.rad-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;

    background-color: orange;
    position: relative;
}

.rad-design::before {
    content: '';

    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: hsl(0, 0%, 0%);
    margin-left: 14px;

    font-size: 1.2rem;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 2%);
}

.infos span {
    margin: 0 2rem 1rem 2rem;
    display: block;

    color: gray;
}

.row-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.row-infos span {
    margin: 1rem;
    margin-bottom: 0;
    display: block;
}

.sabor_quant,
.tipo_sabor {
    display: flex;
    align-items: center;
}

.sabor_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quant_container {
    display: flex;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    width: 5rem;

    padding: .5rem 1rem .5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.quantImg {
    width: 15px;
    height: 15px;
}

.mais,
.maisCar {
    filter: invert(24%) sepia(63%) saturate(5204%) hue-rotate(113deg) brightness(90%) contrast(106%);
    cursor: pointer;
}

.menos,
.menosCar {
    filter: invert(16%) sepia(100%) saturate(5740%) hue-rotate(357deg) brightness(111%) contrast(124%);
    cursor: pointer;
}

.pizza_img {
    width: 5rem;
    height: 5rem;
}

.obs_input,
obs_input:focus {
    border: none;
    border-bottom: solid 1px rgba(185, 185, 185, 0.74);
    outline: 0;
}

#adicionarPedido {
    width: 100%;
    cursor: pointer;
    margin-top: 2rem;
    background-color: orange;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: aliceblue;
}



#feedback {
    position: fixed;
    top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: .5rem;

    background-color: rgb(252, 119, 119);

    border-radius: 0 2ch 2ch 0;
    box-shadow: 0 2.5rem 2rem -2rem gray;

    width: 30%;

    color: white;

    visibility: hidden;

    animation: notifica 2s, desaparece 5s;
}

#feedback div {
    margin-top: .5rem;
    background-color: red;

    visibility: hidden;

    width: 0;
    height: .5rem;

    animation: diminui 5s;
}

@keyframes notifica {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes desaparece {
    0% {
        visibility: visible;
    }

    90% {
        opacity: 100%;
    }

    100% {
        opacity: 10%;
        visibility: hidden;
    }
}

@keyframes diminui {
    0% {
        visibility: visible;
        width: 96%;
    }

    100% {
        width: 0;
        visibility: hidden;
    }
}